<!DOCTYPE html>
<html>
<head>
    <title>Data Output</title>
</head>
<body>
    <h1>Data Output:</h1>
    
    <h2>Data Frame 1:</h2>
    {{ df1 | safe }}
    <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th style="background-color:#f71735"></th>
      <th>Expiry_date</th>
      <th>CE</th>
      <th>Change in OI(CE)</th>
      <th>OI(CE)</th>
      <th>Volume(CE)</th>
      <th>LTP(CE)</th>
      <th>strikePrice</th>
      <th>LTP(PE)</th>
      <th>Volume(PE)</th>
      <th>OI(PE)</th>
      <th>Change in OI(PE)</th>
      <th>PE</th>
      <th>Volume(CE)_Increase</th>
      <th>Volume(CE)_Decrease</th>
      <th>Volume(PE)_Increase</th>
      <th>Volume(PE)_Decrease</th>
      <th>OI(CE)_Increase</th>
      <th>OI(CE)_Decrease</th>
      <th>OI(PE)_Increase</th>
      <th>OI(PE)_Decrease</th>
      <th>indicator</th>
    </tr>
  </thead>
    </table>
    <script type="text/javascript">
        setTimeout(function () {
            location.reload();
        }, 180000); // Refresh the page every 3 minutes (modify as needed)
    </script>
</body>
</html>
